
.casilla {
  min-height: 35px;
  min-width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.casilla > * {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  font-size: 30px;
}

.ocupada {
  cursor: default;
}

.libre {
  cursor: pointer;
}

.targeted {
  cursor: no-drop;
}

.reina-dark {
  color: #333;
}

.reina-light {
  color: #fff;
}
